*{
    font-family: sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

h1{
    color: #1d3557;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

ul.menu{
    list-style-type: none;
    background-color: #457b9d;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li.liMenu{
    float: left; /*formato de la lista*/
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: #1d3557;
}

.hackingFondo{
    width: 400px;
    height: 450px;
    float: right;
    padding: 2px;
    margin: 2px;
}

p.informacion{
    text-align: start;
}


